.w{
    border: 3px solid blue;
    border-radius: 20px;
    background-color: rgb(0, 242, 255);
    height: 400px;
    width: 1070px;
    margin: 50px;
    z-index: 0;
    margin-left: 125px;
    margin-bottom: 130px;
  }
  
.w2{
    margin-left: 100px;
    border-radius: 10%;
    height: 490px;
    width: 400px;
    vertical-align: center;
    z-index: 1;
    margin: -20px;
    margin-left: 40px;
  }
  
.w3{
    margin-left: 550px;
  }