h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.social-icons i {
  background-color: rgba(169, 206, 238, 0.904);
  color: black;
  width: 40px;
  margin-right: 10px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  transition: all 0.05s ease;
  margin-top: 5px;
  cursor: pointer;
}
.social-icons span{
  font-style: Poppins;
  color: white;
  font-size: 16px;
  margin-right: 15px;
}
 i:hover {
  background-color: white;
}
.w{
    border: 3px solid rgba(52, 110, 158, 0.904);
    border-radius: 20px;
    background-color: rgba(52, 110, 158, 0.904);
    height: 400px;
    width: 1070px;
    margin: 50px;
    z-index: 0;
    margin-left: 125px;
    margin-bottom: 130px;
  }
  
.w2{
    margin-left: 100px;
    border-radius: 10%;
    height: 490px;
    width: 400px;
    vertical-align: center;
    z-index: 1;
    margin: -20px;
    margin-left: 40px;
  }
.w3{
    margin-left: 550px;
  }