/* Navigation */
/* Add a black background color to the top navigation */
body{
  margin: 0px;
  background-color:rgba(52, 110, 158, 0.904);
}
.about {
  font-size: 18px;
  margin-left: 80px;
  margin-right: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav { 
  background-color: rgba(52, 110, 158, 0.904);
  overflow:visible;
  height: 180px;
}
.h5 {
  color: #3b3663;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.h2 { 
  color: #3b3663;
  font-size: 30px;
  line-height: 38px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.clear {
  clear: both;
}
.f{
  float: left;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 15px;
  background-color: aliceblue;
}


.f1{
  float: right;
  height: 400px;
  width: 300px;
}

/* Drop down list */
.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}
.dropdown-content {
  margin-top: 50px;
  display: none;
  position: absolute;
  background-color:rgba(52, 110, 158, 0.904);
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff7f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  transition: all 1s ease;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(52, 110, 158, 0.904);
  color:rgba(20, 241, 204, 0.796);
  font-size: 60px;
  border-bottom-left-radius:50px ;
  border-bottom-right-radius:50px ;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:rgba(52, 110, 158, 0.904);
  color:rgba(20, 234, 241, 0.796);
  border-bottom-left-radius:50px ;
  border-bottom-right-radius:50px ;
}

/* Navigation */
#contact {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/back1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  height: 1000px;
}

.w{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-image: linear-gradient(300deg,rgb(49, 112, 164),aliceblue);
  height: 300px;
  width: 1070px;
  margin: 50px;
  z-index: 0;
  margin-left: 225px;
  margin-bottom: 130px;
}

.w2{
  margin-left: 100px;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  vertical-align: center;
  z-index: 1;
  margin: -20px;
  margin-left: 40px;
}

.w3{
  margin-left: 500px;
}

.z{
  text-align: center;
  font-size: 100px;
  color: #ffffff;
}
h1 {
  color: white;
  font-size: 40px;
}
p {
  font-size: 16px;
  color: white;
}
.info i {
  background-color: rgba(49, 112, 164, 0.904);
  color: #fff;
  width: 40px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s ease;
  margin-top: 5px;
  cursor: pointer;
}
a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  font-family: nunito;
}
/* footer */
p.copyright-footer {
  text-align: center;
  font-family: Arial;
  padding: 20px 0px;
  color: #ffffff;
}
hr.footer-hr {
  margin: 10px 0px 20px;
}